/* General Styles */
html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.75rem;
    margin-top: 1rem;
}

.container-fluid {
    padding: 2rem;
}

#dynamic-role {
    color: #111;
    transition: all 0.3s ease;
}

/* Navbar Styles */
.navbar {
    background-color: #111;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar-nav .nav-link:hover {
    color: #0FFCBE;
}

.navbar-toggler {
    border-color: rgba(245, 242, 242, 0.7); /* White border with transparency */
}

.navbar-toggler-icon {
    margin-top: 10px;
    background-color: #fff;
    width: 30px;
    height: 3px;
    display: block;
    position: relative;
}

.navbar-toggler-icon::before, 
.navbar-toggler-icon::after {
    content: '';
    background-color: #fff; /* Change this color to customize */
    display: block;
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all 0.3s;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}


/* About Section */
.about-section, .skills-section, .contact-section, .project-section {
    background: linear-gradient(135deg, #111, #111);
    padding: 50px 0; /* Add more padding for spacious look */
    color: white;
}

.about-section img {
    border-radius: 50%;
    box-shadow: 0 2px 4px #0FFCBE;
}


.about-section h2 {
    color: #fff;
}

.about-section p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #fff;
}


.about-section .btn {
    background-color: #0FFCBE;
    color: #f3dae8;
    margin-top: 1.5rem;
}

.about-section .btn:hover {
    background-color: #0FFCBE;
    color: #f3dae8;
    box-shadow: 0 4px 8px #78cfb7;
}

/* Skills Section */
.skills-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-section h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
}

.skills-section h3 {
    color: #FFF;
    margin-bottom: 1rem;
    text-align: center;
}

.skills-section .btn {
    background-color: #111;
    color: #fdf5fa;
    margin-top: 1.5rem;
}

.skills-section .btn:hover {
    background-color: #111;
    color: #fff;
    transform: translateY(-10px) scale(1.05); /* Lift and scale on hover */
    box-shadow: 0 10px 20px #295780;
}

.skills-card {
    background-color: #0FFCBE; /* Light background */
    border-radius: 10px; /* Rounded corners */
    padding: 2rem; /* Padding inside the card */
    min-height: 250px;
}

.skills-card:hover, .project-section img:hover, .project-section video:hover {
    transform: translateY(-10px) scale(1.05); /* Lift and scale on hover */
    box-shadow: 0 10px 10px #78cfb7; /* Larger shadow */
}

/* Contact Section */
.contact-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
}

.contact-section h3 {
    font-size: 1.5rem;
    color: #0FFCBE;
    text-align: center;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #0FFCBE;
    border-radius: 5px;
}

.contact-section button {
    width: 100%;
    margin-top: 1rem;
    background-color: #0FFCBE;
    color: #eef0e7;
}

.contact-section a {
    color: #0FFCBE;
}

.contact-section button:hover {
    background-color: #0FFCBE;
    color: #f1f1f1;
    transform: translateY(-10px); /* Lift and scale on hover */
    box-shadow: 0 10px 10px #78cfb7;
}

/* Project Section */
.project-section h2 {
    color: #f1f1f1; 
    margin-bottom: 30px;
    font-size: 2rem;
}

.project-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-section .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.project-section a {
    text-decoration: none;
}

.project-section img,
.project-section video {
    border: 2px solid #0FFCBE; /* Border for images and video */
    border-radius: 10px;
}

/* Ensure all images and videos are responsive */
img.img-fluid, video.img-fluid {
    max-width: 100%;
    height: auto;
}

.social-links .btn {
    background-color: #0FFCBE;
    border: none;
    font-size: 1rem; /* Increase icon size */
    margin: 0 2px;
    color: #1F2833;
}

.social-links .btn:hover {
    color: #106EBE;
    transform: translateY(-10px) scale(1.05); /* Lift and scale on hover */
    box-shadow: 0 10px 20px #0FFCBE;
}



/* Responsive Project Section */
.project-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-section .col-md-6 {
    flex: 1 1 100%; /* Take full width on small screens */
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .project-section .col-md-6 {
        flex: 1 1 45%; /* Take about half width on medium to large screens */
    }
}

h2 {
    font-size: 2.5rem; /* Adjust for large screens */
}

@media (max-width: 768px) {
    h2 {
        font-size: 6vw; /* Responsive font size */
    }
}

/* Responsive Styling */
@media (max-width: 768px) {
    .navbar-nav {
        padding: 10px;
    }

    .navbar-nav .nav-link {
        padding-left: 0;
        margin: 0.5rem 0;
    }

    .about-section img {
        width: 150px;
    }

    .skills-card {
        margin-bottom: 20px;
    }

    .skills-section h3 {
        font-size: 1.5rem;
    }

    .skills-section button {
        padding: 0.5rem 1rem;
    }

    .contact-section h3 {
        font-size: 1.3rem;
    }
}
